<thead>
  <tr>
    <%= sortable_header(@conn, @sort, @filter, "id", "ID", @phase) %>
    <%= sortable_header(@conn, @sort, @filter, "title", "Title", @phase) %>
    <%= sortable_header(@conn, @sort, @filter, "updated_at", "Last Updated", @phase) %>
    <%= sortable_header(@conn, @sort, @filter, "id", "Last Messaged", @phase) %>
    <th>Topic</th>
    <%= sortable_header(@conn, @sort, @filter, "judging_status", "Selected for Judging", @phase) %>
    <th>Other Actions</th>
  </tr>
</thead>
