$box-shadow-color: rgba(0,94,162,0.20);
$box-shadow-color-darker: rgba(0,94,162,0.50);
$font-color: #2E2E2E;
$box-shadow-color: rgba(0,94,162,0.20);
$background-color-secondary: #FFFFFF;

body {
  font-family: 'Public Sans', sans-serif;
}

p {
  padding: 5px 20px 5px 20px;
}

.cards {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(42.5rem, 1fr));
  grid-gap: 2rem;
  margin: auto;
  padding: 20px;

  &__none {
    text-align: center;
  }

  &__section {
    background-color: $background-color-secondary;
    padding-top: 2rem;

    h2 {
      font-family: 'Public Sans', sans-serif;
      // font-size: 4rem;
      text-align: center;
    }

  }
}

.card {
  &__section {
    &--sort {
      // text-align: right;
      // font-size: 1.6rem;
      font-style: italic;
      max-width: 1200px;
      margin: auto;
    }
  }

  &__text-wrapper {
    display: grid;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    min-height: 6rem;
    color: $font-color;

    &:link {
      text-decoration: none;
    }
  }

  &__agency-name {
    font-size: 1.2rem;
    min-height: 4rem;
    margin: 0;
    color: $font-color;
  }

  &__tagline {
    font-size: 1.2rem;
    min-height: 8rem;
    margin: 0;
    color: $font-color;
  }

  &__date {
    font-size: 1.2rem;
    color: $font-color;
  }

  &.challenge-tile {
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 $box-shadow-color;
    transition: .5s;
    background-color: #fff;

    a {
      text-decoration: none;

      &:visited,
      :link {
        color: $font-color;
      }
    }

    &:hover {
      box-shadow: 0 2px 25px 0 $box-shadow-color-darker;
    }
  }
}

.image_wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 50%;

  img {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
}

.usa-tag {
  &--coming-soon {
    background-color: #4d8055;
  }

  &--closing-soon {
    background-color: #ffbe2e;
    color: black;
  }

  &--important-update {
    background-color: #fa9441;
    color: black;
  }
}