.challenge-tabs {
  max-width: 1440px;
  margin: auto;
  color: #2e2e2e;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 0;
    padding: 2rem 0rem;
  }

  &__tab {
    padding: .5rem 2rem;
    cursor: pointer;

    &--active {
      font-weight: bold;
      border-bottom: 3px solid #FA9441;
    }

    &--disabled {
      cursor: not-allowed;
      color: #999999;
    }

    .fa-award {
      color: #FA9441;
    }
  }

  &__content {
    padding: 2rem;
  }
}

.challenge-tab {
  color: #2e2e2e;

  &__header {
    font-weight: bold;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  hr {
    border-top: 1px solid #979797;
    margin-bottom: 3rem;
  }

  &__content {
    margin-bottom: 3rem;

    .phase-winner-image {
      max-height: 200px
    }
  }

  .winner-grid {
    background-color: inherit;
  }

  &__resources {
    padding: 1rem;
  }

  .card-header {
    padding: 1rem 4rem;
  }
}
