.hero {
  &__wrapper {
    background-color: #2B608A;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    margin: 30px;
    min-width: 75%;
    max-width: 1440px;
    height: 80%;
    border-radius: 10px;
  }
}

  .main-section {
    height: auto;
    width: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;

    p {
      margin: 0;
      padding: 0;
    }

    h3 {
      margin: 0;
    }

    &__text {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .logos {
        margin-bottom: 10px;
      }

      .agency-logo {
        height: 100px;
        margin-right: 10px;
      }

      .title {
        margin-bottom: 10px;
      }

      .tagline {
        margin-bottom: 10px;
      }

      .brief_description {
        // font-size: 15px;
        padding: 0 0 10px 0;
      }
    }

    .logo-container {
      width: auto;
      display: flex;
      align-items: center;
      // justify-content: center;

      .challenge-logo {
        width: 100%;
        max-height: 300px;
        border: 1px solid #C9C9C9;
        box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
      }

      .custom-logo {
        max-width: 100%;
        max-height: 300px;
      }

      .agency-logo {
        height: 100px;
        margin: 0 5px;
      }
    }
  }

  .detail-section {
    // padding: 15px 15px 5px 15px;
    padding: 1rem;
    background-color: #F2F2F2;
    border-radius: 0 0 10px 10px;
    display: grid;
    row-gap: .5rem;

    p {
      margin: 0;
      padding: 0;
    }

    span {
      margin-right: 5px;
    }

    h3 {
      margin: 0;
    }

    &__apply {
      // margin-bottom: 1.5rem;

      .apply-btn {
        height: 100%;
        width: 100%;
        padding: .5rem;
        align-self: center;
        color: #000;
        background-color: #FA9441;
        border-radius: 7px;
        border: 1px solid #C9C9C9;
        box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
      }

      a[disabled] .apply-btn {
        background-color: #c9c9c9;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0rem 1rem;
        text-align: center;
      }
    }

    a.follow-btn {
      color: #2d618a;;
    }

    &__follow {
      margin-bottom: 1.5rem;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 7px;
      border: 1px solid #2d618a;
      box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);

      .follow-btn {
        color: #2d618a;
      }
    }

    .item {
      margin-bottom: .5em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      h3 {
        line-height: 27px;
        height: 27px;
        width: auto;
      }

      p {
        // font-size: 17.5px;
        display: inline;
      }

      .info-title {
        display: inline;
        font-weight: bold;
        margin-right: 5px;
      }

      .info-title {
        font-weight: bold;
      }

      .date-qualifier {
        color: #B50707;
        font-weight: bold;
        margin: 0 10px 0 5px;
      }
    }
  }

  // MOBILE

  @media screen
  and (max-device-width: 425px) {

    .main-section {

      h1 {
        // font-size: .8em;
      }

      h3 {
        // font-size: .5em;
      }
    }

    .detail-section {

      .apply-btn {
        // font-size: 1rem;
      }      
      
      .follow-btn {
        // font-size: 1rem;
      }

      &__text-block {
        .info-title {
          // font-size: .5em;
        }

        .item {
          &__types {
            // line-height: .65em;

            p {
              // font-size: .5em;
            }
          }
        }
      }
    }
  }


  // DESKTOP

  @media screen
  and (min-device-width: 768px) {

    .main-section {
      min-height: 12em;
      padding: 20px;
      display: flex;

      &__text {
        width: 50%;
        height: auto;
        padding-right: 2rem;

        .agency-logo {
          margin-right: 25px;
        }

        .brief_description {
          padding: 0;
        }
      }

      .logo-container {
        width: 50%;

        .agency-logo {
          height: 150px;
          margin: 20px 0 20px 20px;
        }
      }
    }

    .detail-section {
      grid-template-columns: repeat(auto-fit, 50%);
      grid-template-rows: repeat(4, 1fr);
      row-gap: .5rem;

      &__apply {
        grid-row: 1 / span 2 ;
        grid-column: 1;

        .apply-btn {
          width: 80%;
          padding: 0 40px;
          color: #000;
          background-color: #FA9441;
          border-radius: 7px;
          border: 1px solid #C9C9C9;
          box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
        }        
        p {
          width: 80%;
        }
      }      

      &__follow {
        grid-row: 1 / span 2;
        grid-column: 1;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        .follow-btn {
          // width: 80%;
          // padding: 0 40px;
        }
      }

      &__apply + &__follow {
        grid-row: 3 / span 2;
      }

      .item {
        grid-column: 2;
      }
    }

    .winners-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: .5rem;

    }
  }

.follow-tooltip {
  .tooltip.show {
    opacity: 1;
  }
  
  p {
    padding: 0px;
  }

  &__inner {
    max-width: unset;
    width: 30rem;
    padding: 2rem;
    border-radius: 10px;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 94, 162, 0.2);
    color: black;
    text-align: left;
  }

  &__arrow::before {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
    opacity: 1;
    box-shadow: 0 2px 8px 0 rgba(0, 94, 162, 0.2);
  }

  &__button {
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: #fff;

    &:hover {
      background-color: #f9f9f9;
      box-shadow: 0 2px 8px 0 rgba(0, 94, 162, 0.2);
      transition: .25s;
    }
  }

  &__divider {
    display: flex;
    padding: 2rem 0rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before, &:after {
      content: '';
      color: #c3c3c3;
      border-top: 2px solid;
      margin: 0 20px 0 0;
      flex: 1 0 20px;
    }

    &:after {
      margin: 0 0 0 20px;
    }
  }
}
