.footer {
  .container-fluid {
    max-width: 1440px;
    margin: auto;
  }
  
  height: 338px;
  padding: 6rem 7rem 0rem 7rem;
  color: #ffffff;
  background-image: url(/images/footer-rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;

  &__challenge-logo {
    height: 22px;
    margin-bottom: 3rem;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  a {
    color: #ffffff;
    margin-bottom: 1rem;

    &:hover {
      color: #ffffff;
    }
  }

  &__social_links {
    justify-content: flex-end;
  }

  &__social_link {
    margin-right: 2rem;
    font-size: 2rem;
  }

  hr {
    border-color: #ffffff;
    margin-bottom: 2rem;
  }

  &__challenge-logo-square {
    height: 80px;
  }

  &__right {
    text-align: right;
  }
}