.help-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  &__header {
    margin: auto;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__content {
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
    }

    a {
      padding: 1rem 4rem;
      border: 2px solid #2C608A;
      border-radius: 5px;
      color: #2C608A;
      transition: .2s;

      &:hover {
        color: #ffffff;
        background-color: #2C608A;
        text-decoration: none;
      }
    }

    img {
      padding: 3rem 0rem;
      color: #2C608A;
      font-size: 6rem;
    }

    p {
      padding: 1.5rem;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &__noteworthy {
    border: 2px solid #2C608A;
    border-radius: 5px;

    span {
      font-weight: bold;
    }
  }
}