.challenge-preview {
  &__top {
    max-width: 1440px;
    margin: auto;
  }

  &__banner {
    height: 100%;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}