@import "../shared";

// Public federalist layout css
@import "header";
@import "footer";
@import "top_banner";
@import "help_section";

@import "challenge-tile";
@import "challenge-tabs";
@import "details-page";
@import "contact-form";
@import "preview";

@import "misc";
@import "tile-loader";

body {
  background-color: #fcfcfc;
}

.main-wrapper {
  max-width: 1440px;
  margin: auto;
}