@import "../shared";

// Public federalist layout css
// @import "./layout/header";
// @import "./layout/footer";
// @import "./layout/top_banner";
// @import "./layout/help_section";

// React client css
@import "challenge-tile";
@import "challenge-tabs";
@import "details-page";
@import "contact-form";
@import "preview";
@import "tile-loader";

// Other css
@import "misc";

html, body {
  background-color: #fafafa;
}

// TODO: Move these to appropriate files
.section-divider {
  width: 100%;
  height: 14rem;
  background-image: url("/images/section-divider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 2rem;
}

.grecaptcha-badge { visibility: hidden; }

.App { 
  max-width: 1440px;
  margin: auto;
}

.ql-editor {
  p {
    padding: 0;
    margin: 0;
  }
}
