<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>" />
    <title>City Backlog</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render("_header.html", assigns) %>

      <div class="container-fluid">
        <div class="content-area">
          <div class="content-left left-menu-wrapper">
            <div class="menu-close"><a href="javascript:;"><i class="icon-close-custom"></i></a></div>
            <div class="logo side-nav-logo">
              <img src="images/logo.png" alt="City Backlog Logo" title="City Backlog">
            </div>
            <div class="side-nav font-semibold">
              <ul class="mp-none">
                <li class="active">
                  <%= link(to: Routes.page_path(@conn, :index)) do %>
                    <i class="icon-dashboard"></i><span>Dashboard</span>
                  <% end %>
                </li>
                <li>
                  <a href="#"><i class="icon-Challenges"></i><span>Challenges</span></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content-right">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </div>
  </body>
</html>
