      <div class="session-timeout-div"
        data-session_expiration="<%= Web.SharedView.session_timeout(@conn) %>"
        id="session_timeout">
      </div>
      <div>
      <%= case current_user(@conn) do %>
      <% nil -> %>
      <% u -> %>

        <%= if Accounts.role_at_or_below(u, "solver") do %>
          <%= render Web.LayoutView, "util_nav/_solver.html", conn: @conn, user: u %>
        <% end %>
        <%= if ChallengeGov.Accounts.is_challenge_manager?(u) do %>
          <%= render Web.LayoutView, "util_nav/_challenge_manager.html", conn: @conn, user: u %>
        <% end %>
        <%= if ChallengeGov.Accounts.has_admin_access?(u) do %>
          <%= render Web.LayoutView, "util_nav/_admin.html", conn: @conn, user: u %>
        <% end %>


      <% end %>

      <div class="grid-row ">
      <div class="grid-col-12 dashboard-background-light >
      <div class="usa-section padding-top-1 minh-tablet-lg">
        <%= if Map.has_key?(@conn.assigns, :site_wide_banner) do %>
          <div class="content-header">

           <div class="usa-alert usa-alert--warning usa-alert--no-icon">
             <div class="usa-alert__body">
              <%= Web.SharedView.render_safe_html( (@conn.assigns.site_wide_banner.content)) %>
             </div>
            </div>

          </div>
        <% end %>

        <%= if get_flash(@conn, :info) do %>
          <div class="content-header">

            <div class="usa-alert usa-alert--success usa-alert--no-icon">
             <div class="usa-alert__body">
              <p class="usa-alert__text">
                <%= get_flash(@conn, :info) %>
              </p>
             </div>
            </div>
          </div>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
          <div class="content-header">
            <div class="usa-alert usa-alert--error usa-alert--no-icon">
             <div class="usa-alert__body">
              <p class="usa-alert__text">
                <%= get_flash(@conn, :error) %>
              </p>
             </div>
            </div>
          </div>
        <% end %>

        <%= if get_flash(@conn, :warning) do %>
          <div class="content-header">
            <div class="usa-alert usa-alert--warning usa-alert--no-icon">
             <div class="usa-alert__body">
              <p class="usa-alert__text">
                <%= get_flash(@conn, :warning) %>
              </p>
             </div>
            </div>
          </div>
        <% end %>

      <div class="grid-col-12 dashboard-background-light padding-x-4" >

          <%= @inner_content %>

      </div>
      </div>
      <aside class="float-right control-sidebar control-sidebar-light border">
        <div class="padding-2">
          <%= if load_filter_panel(@conn, view_module(@conn)) do %>
          <%= render view_module(@conn), "_filter.html", conn: @conn, user: @user, filter: @filter, sort: @sort %>
          <% end%>
        </div>
      </aside>
      </div> <!-- end of main content -->
    </div>
