<!DOCTYPE html>
<html lang="en">
  <%= render("_head.html", assigns) %>

  <div id="recaptcha-key" class="d-none"><%= Recaptcha.recaptcha_key() %></div>

  <body>
    <div class="main-wrapper">
      <%= render("_header.html", assigns) %>

      <%= render("_top_banner.html", assigns) %>

      <div class="main">
        <div class="content-area">
          <%= if Map.has_key?(@conn.assigns, :site_wide_banner) do %>
            <div class="content-header">
              <div class="site-wide-banner">
                <div class="callout callout-warning">
                  <i class="fa fa-exclamation-circle"></i>
                  <span class="ql-editor">
                    <span><%= raw (@conn.assigns.site_wide_banner.content) %></span>
                  </span>
                </span>
              </div>
            </div>
          <% end %>

          <%= if flash = get_flash(@conn, :info) do %>
            <div class="alert alert-primary" role="alert">
              <%= flash %>
            </div>
          <% end %>
          <%= if flash = get_flash(@conn, :error) do %>
            <div class="alert alert-danger" role="alert">
              <%= flash %>
            </div>
          <% end %>

          <%= @inner_content %>
        </div>
      </div>

      <div class="section-divider"></div>

      <%= render("_help_section.html", assigns) %>

      <%= render("_footer.html", assigns) %>
    </div>
  </body>

  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/layout.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/public.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/client.js") %>"></script>
</html>
