<!DOCTYPE html>
<html lang="en">
  <%= render("_head.html", assigns) %>

  <body>
    <div class="main-wrapper">
      <%= render("_header.html", assigns) %>

      <div class="main container-fluid">
        <div class="content-area">
          <%= if flash = get_flash(@conn, :info) do %>
            <div class="usa-alert usa-alert--info usa-alert--no-icon">
              <div class="usa-alert__body">
                <p class="usa-alert__text">
                  <%= flash %>
                </p>
              </div>
            </div>
          <% end %>
          <%= if flash = get_flash(@conn, :error) do %>
            <div class="usa-alert usa-alert--error usa-alert--no-icon" role="alert">
             <div class="usa-alert__body">
              <p class="usa-alert__text"><%= flash %></p>
             </div>
            </div>
          <% end %>

          <%= @inner_content %>
        </div>
      </div>

      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </div>
  </body>
</html>
