<%= if !ChallengeGov.Challenges.is_allowed_to_view_submission?(@user) do %>
  <div class="usa-alert usa-alert--info usa-alert--no-icon margin-bottom-4 maxw-tablet" role="alert">
    <%= link to: ChallengeGov.LoginGov.build_ial_2_authorization_url, class: "text-no-underline text-base-darkest" do %>
        <div class="usa-alert__body">
          <h2 class="usa-alert__heading">
            Verify with
              <img class="height-205 margin-left-1" src="<%= Routes.static_path(Web.Endpoint, "/images/login-gov-logo.svg") %>" alt="Login.gov logo" />
          </h2>
          <p class="usa-alert__text">To view submission information on Challenge.gov, you must verify your identity with Login.gov</p>
        </div>
    <% end %>
  </div>
<% end %>
