@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Public Sans', sans-serif;
  background-color: #dedede;
}

.required {
  color: #ff0000;
}

.navbar-static-top a {
  display: flex;
}

.sign-out {
  justify-content: flex-end;
  align-items: center;
  /* color: #ffffff; */
  padding: 15px 15px;
}

.component-btn {
  color: #000;
  background-color: #FA9441;
}

/* post sign-in screen: lib/web/templates/admin/terms/index.html.eex */

.rules-of-behavior {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto 20px;
}

.behavior-header {
  align-self: start;
}

.registration-content {
  display: flex;
  justify-content: center;
}

.registration-row {
  width: 75%;
}

.input {
  width: 60%;
  max-width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-input {
  max-width: 300px;
  margin: 20px 70px;
}

.fc-input {
  border-radius: 5px
}

.label-text {
  align-self: start;
  margin-bottom: 0;
  margin-left: 5px;
  color: #4A5C6B;
}

.main-container .btn-primary {
     background-color: #F2994A;
     width: 200px;
     height: 33px;
     border-radius: 4px;
     color: black;
     border: none;
}

.btn-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.page-center {
  margin-top: 50px;
}

/* timeout modal */

.main-container {
  left: 200px;
}

.main-container h1 {
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 36px;
}

.main-container h2 {
  font-family: 'Public Sans';
  font-size: 25px;
}

.main-container h3 {
  font-family: 'Public Sans';
  font-size: 20px;
}

.winner-manage div.card-body {
  position: relative;  
}

.winner-manage div.card-body .mng-winner-btn {
  position: absolute;
  bottom: 10px;
  left: 45px;
}

.winner-manage .winner-title {
  height: 75px;
  overflow: auto;
}


.card.winner-manage {
  max-width: 300px;
  min-height: 250px;
  border-radius: 4px;
  margin: 20px;
}

.main-container.phase-winners img.winner-img {
  width: 100px;
  height: 100px;
}

.main-container {
  margin-left: 20px;
  max-width: 900px;
}

.main-container.phase-winners p {
  font-size: 16px;
  font-family: 'Public Sans';
}

.main-container.phase-winners label {
  font-size: 16px;
  margin-bottom: 0px;
  font-family: 'Public Sans';
}

.main-container hr {
  background-color: #333333;
  height: 1px;
}

.main-container .winner-options {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-container .cancel-winner {
  text-decoration-line: underline;
  margin-top: 5px;
}

.main-container .individual-winners {
  padding-top: 20px;
}

.main-container.phase-winners .mini {
  font-size: 12px;
}

.main-container .remove-winner-container {
  padding-top: 22px;
}

.main-container .remove-winner {
  color: red;
  text-decoration-line: underline;
}

.main-container textarea#winner_overview {
  max-width: 600px;
  height: 200px;
}

.main-sidebar {
  z-index: 1021;
}

.navbar {
  z-index: 1
}

.timeout-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% 20% 25% 15%;
  left: -30;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  text-align: center;
  font-size: 17px;
  overflow-y: scroll;
}

.callout a {
  color: #007bff;

  &:hover {
    color: #0056b3;
  }
}

@media (min-width: 768px) {
  .modal-content {
    margin: 10% 25% 0 30%;
    width: 60%;
    max-width: 600px;
  }
}

.modal-btn {
  margin: 3% 0;
  font-size: 17px;
}

.table {
  margin-bottom: 0;

  tbody a {
    text-decoration: underline;
  }

  .btn {
    text-decoration: none;
  }
}

.pagination {
  margin-bottom: 0;
}

th {
  white-space: nowrap;

  i {
    margin-left: .5em;
  }

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.control-sidebar {
  width: 25%;
  height: fit-content;
}

/* adding users */

.u-input {
  margin-bottom: 10px;
}

.u-error {
  color: red;
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
}

.select2-selection__choice {
  color: black !important;
}

.is-invalid {
  .select2-selection,
  .ql-container,
  .ql-toolbar {
    border-color: var(--danger);
  }
}

.char-limit-label.is-invalid {
  color: var(--danger);
}

label {
  font-weight: 400 !important;
}

.form__note {
  font-size: smaller;
  font-style: italic;
}

.form__note--red {
  color: red;
}

.challenge_navbar {
  background-color: #0B4778;
}

.challenge_sidebar {
  background-color: #dedede;
}

/*  Reports */

.ch-report-hr {
  margin: 1rem 1rem;
}

.content-sub-1 {
  margin: 2rem 5rem;

  h4 {
    margin: 0;
    align-self: center;
  }

  .content-sub-2 {
    margin-top: 4rem;
  }

  label, .col {
    padding: 0;
  }

  .ch-export-btn-wrapper {
    margin-top: 2rem;
  }
}

.ql-disabled {
  background-color: #e9ecef;
}

.btn-toolbar {
  height: 38px;
  a {
    margin-right: .5rem;
  }
  a:last-child {
    margin-right: 0;
  }
}

.challenge-show-actions {
  height: 200px;
                        
  .card {
    min-height: 10rem;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h4 {
    flex-grow: 1;
  }
  .btn {
    margin-bottom: .5rem;
  }
}

.btn-link.text-danger {
  cursor: pointer;
}

.nav-icon {
  &.icon-submissions {
    display: inline-block;
    height: 19px;
    background: url("/images/sidebar_icons/submissions.svg") no-repeat center;
    background-size: contain;
  }
}

.btn:focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
}

#submission-download-modal {
  .modal-dialog {
    max-width: unset;
  }

  .modal-content {
    padding: unset;
    text-align: left;
    overflow-y: unset;
  }
}

.submission-invites__message .form-group {
  background-color: #fff;
}