.dashboard-card {
  .card {
    min-height: 7rem;
  }

  &__title {
    margin-bottom: 0;
  }

  &__icon-container {
    min-width: 60px;
    width: 10%;
    height: 100%;
    text-align: center;
  }
}
