@media screen and (max-device-width: 425px) {
  .help-page {
    &__getting-started-content {
      flex-direction: column !important;

      .vr-light {
        background: none;
        border-top: 1px solid #D8D8D8;
        width: 100% !important;
      }
    }

    &__question-section {
      div {
        flex-direction: column !important;
      }

      .left-section {
        width: auto !important;
        padding: 0 0 1em 0 !important;
      }

      .right-section {
        width: auto !important;
      }
    }

    &__toolkit-section {
      div {
        flex-direction: column !important;
      }

      .left-section {
        width: auto !important;
        padding: 0 0 .25em 0 !important;
      }

      .right-section {
        width: auto !important;
        margin: 0px !important;
      }
    }

    &__technical-issues {
      div {
        flex-direction: column !important;
      }

      .left-section {
        width: auto !important;
        padding: 0 0 1em 0 !important;
      }

      .right-section {
        width: auto !important;
        margin: 0px !important;
      }
    }
  }
}