.main-sidebar {
  .nav-item.disabled {
    opacity: .60;

    .nav-link {
      cursor: not-allowed;
    }
  }

  .icon-active {
    background-color: #112F4E;
    color: white !important;

    &:hover {
      color: #343a40 !important;
    }
  }
}
