.message_center {
  &__star {
    cursor: pointer;
  }

  &__snippet {
    p {
      margin-bottom: 0;
      padding: 0;
    }

    * {
      height: 1.4rem;
      max-width: 20rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__sidebar {
    height: 100%;
    background-color: #999;
    color: #fff;
  }

  &__message_box {
    position: relative;
    overflow: hidden;
    height: 30rem;
    border: 1px solid #ccc;
  }

  &__messages {
    position: absolute;
    bottom: 0;
    height: 30rem;
    padding: 1rem;
    padding-bottom: 0rem;
    width: 100%;
    overflow: scroll;
  }

  &__message {
    background-color:#bbb;
    border-radius: .5rem;
    padding: .5rem;
    
    p {
      margin-bottom: 0;
    }
  }

  &__message--self {
    background-color:#eee;
  }

  &__messages_start {
    margin-bottom: 1rem;
    text-align: center;
    color: #999;
  }

  &__header {
    tr th:last-child {
      padding: 0 !important;
    }
  }

  &__row--unread {
    font-weight: bold;
  }

  &__row {
    position: relative;

    &:hover, &:focus, &:focus-within {
      background-color: #EDF5FF !important;
      cursor: pointer;
      outline-offset: -4px;

      .message_center__actions {
        background-color: #EDF5FF !important;
        display: flex;
        align-items: center;
      }
    }
  }

  &__star {
    color: #FFBE2E;
  }

  &__actions {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    display: none;
    border: none !important;

    a {
      color: #000000;
      text-decoration: none !important;
      margin-right: 1rem;
    }

    a:last-child {
      margin-right: 0rem;
    }
  }
}