@media screen and (max-device-width: 425px) {
  .solver-help {
    &__question-section {
      div {
        flex-direction: column !important;
      }

      .left-section {
        width: auto !important;
        padding: 0 0 1em 0 !important;
      }

      .right-section {
        width: auto !important;
      }
    }

    &__technical-issues {
      div {
        flex-direction: column !important;
      }

      .left-section {
        width: auto !important;
        padding: 0 0 1em 0 !important;
      }

      .right-section {
        width: auto !important;
      }
    }
  }
}