/* Challenge.Gov Theme Pallete */

/* Base */
$bg-base-darkest: #1B1B1B;
$bg-base-darker: #3D4551
$bg-base-dark: #565C65;
$bg-base: #71767A;
$bg-base-light: #A9AEB1;
$bg-base-lighter: #DCDEE0;
$bg-base-lightest: #FOFOFO;

/* Primary */
$bg-primary-darker: #162E51;
$bg-primary-dark: #1A4480;
$bg-primary-vivid: #0050D8;
$bg-primary: #005EA2;
$bg-primary-light: #73B3E7;
$bg-primary-lighter: #D9E8F6;

/* Secondary */
$bg-secondary-darker: #8B1303;
$bg-secondary-dark: #B51D09;
$bg-secondary-vivid: #E41D3D;
$bg-secondary: #D83933;
$bg-secondary-light: #F2938C;
$bg-secondary-lighter: #F8DFE2;

/* Accent Cool */
$bg-accent-cool-darker: #07648D;
$bg-accent-cool-dark: #28A0CB;
$bg-accent-cool: #00BDE3;
$bg-accent-cool-light: #97D4EA;
$bg-accent-cool-lighter: #E1F3F8;

/* Accent Warm */
$bg-accent-warm-darker: #775540;
$bg-accent-warm-dark: #C05600;
$bg-accent-warm: #FA9441;
$bg-accent-warm-light: #FFBC78;
$bg-accent-warm-lighter: #F2E4D4;

/* Grayscale */
$bg-black: #000000;
$bg-gray-90: #171717;
$bg-gray-70: #454545;
$bg-gray-50: #757575;
$bg-gray-30: #ADADAD;
$bg-gray-10: #E6E6E6;
$bg-gray-5: #F0F0F0;
$bg-white: #FFFFFF;

/* --- */
