<%= form_tag Routes.user_path(@conn, :index), method: :get do %>
  <div class="card-body">
    <div class="form-group">
      <%= label :user, :search, "Search" %>
      <%= text_input :user, :search, value: @filter["search"], class: "form-control" %>
    </div>
  </div>
  <div>
    <%= submit "Search", class: "btn btn-primary" %>
    <%= link "Clear", to: Routes.user_path(@conn, :index), class: "btn" %>
  </div>
<% end %>
