@import "challenge-tile";
@import "challenge-tabs";
@import "details-page";
@import "contact-form";
@import "preview";
@import "uswds-overrides";

body {
  background-color: #fcfcfc;
}

.main-wrapper {
  max-width: 1440px;
  margin: auto;
}

