<section class="content p-3">
  <div class="container-fluid">
    <div class="card p-3">
      <div class="row mb-3">
        <div class="col">        
          Invite for <%= @submission_invite.submission.title %>
        </div>
      </div>
      <div class="row">
        <div class="col">        
          <%= SharedView.render_safe_html(@submission_invite.message) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>