<div class="bg-primary-darker w-full display-flex flex-justify-center desktop:flex-justify-end padding-1 font-body-3xs desktop:font-body-2xs text-white">
<div>
  <%= link(to:  Routes.dashboard_path(@conn, :index), class: "display-flex flex-align-center flex-row margin-x-3
          text-white text-no-underline text-bold
                    width-9 tablet:width-auto tablet:text-no-wrap text-center")  do %>
      <img class="usa-icon--size-4 icon-white margin-right-1" alt="" src="/assets/img/usa-icons/grid_view.svg">
      <span>Dashboard</span>
  <% end %>
</div>
<div>
  <%= link(to: Routes.help_path(@conn, :index), class: "display-flex flex-align-center flex-row margin-x-1 desktop:margin-x-3
          text-white text-no-underline text-bold
                    width-9 tablet:width-auto tablet:text-no-wrap text-center")  do %>
        <img class="usa-icon--size-4 icon-white margin-right-1" alt="" src="/assets/img/usa-icons/support.svg">
        <span>Support</span>
  <% end %>
</div>
  <div class="display-none desktop:display-flex flex-align-center padding-x-3 border-left-1px">
    <span><%= @user.email %></span>
  </div>

</div>
