<div class="bg-primary-darker w-full display-flex flex-justify-center desktop:flex-justify-end padding-1 font-body-3xs desktop:font-body-2xs text-white">
<div>
  <%= link(to: ChallengeGov.Helpers.get_eval_url("phases"), class: "display-flex flex-align-center flex-column desktop:flex-row margin-x-1 desktop:margin-x-3 text-white
                    width-9 tablet:width-auto tablet:text-no-wrap text-center")  do %>
      <svg class="usa-icon--size-4 desktop:usa-icon--size-3 icon-white desktop:margin-right-1" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/assets/img/sprite.svg#grid_view"></use>
      </svg><span class="display-none desktop:display-block ">Challenges</span><span class="desktop:display-none" style="font-size: 0.7rem">Dashboard</span>
  <% end %>
</div>

<div>
  <%= link(to: Routes.help_path(@conn, :index), class: "display-flex flex-align-center flex-column desktop:flex-row margin-x-1 desktop:margin-x-3 text-white
                    width-9 tablet:width-auto tablet:text-no-wrap text-center")  do %>
      <svg class="usa-icon--size-4 desktop:usa-icon--size-3 icon-white desktop:margin-right-1" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/assets/img/sprite.svg#support"></use>
      </svg><span class="display-none desktop:display-block">Support</span><span class="desktop:display-none" style="font-size: 0.7rem">Resources</span>
  <% end %>
</div>

  <div class="display-none desktop:display-flex flex-align-center padding-x-3 border-left-1px">
    <span><%= @user.email %></span>
  </div>

</div>
