<div class="desktop:grid-col-6 margin-y-1">
    <a class="display-flex bg-primary-darker text-white flex-align-center height-card text-no-underline" href="<%= @to %>" target="<%= @target %>">
        <div class="usa-icon--size-7 icon-white margin-x-2">
         <%= @icon %>
         </div>
        <div class="margin-right-2">
            <h2><%= @title %></h2>
             <%= if @description do %>
              <p class="dashboard-card"><%= @description %></p>
             <% end %>
        </div>
</a></div>
