<section class="content">
  <%= dashboard_header(@current_user) %>

  <%= if !Accounts.is_solver?(@current_user) do %>
    <%= recertification_warning(@conn, @current_user)%>
  <% end %>

  <%= if Accounts.is_evaluator?(@current_user) do %>
    <%= evaluator_notice() %>
  <% end %>

  <%= dashboard_card_links(@current_user) %>
</section>
