<p>You have been invited to City Backlog by <%= AccountView.full_name(@inviter_user) %></p>

<p><%= link("Please click this link to finalize your account.", to: invite_url(@invitee_user)) %></p>

<p><pre><%= invite_url(@invitee_user) %></pre></p>
