<div>A new submission has been created for you</div>
<b>IMPORTANT: To complete this entry you must review the submission by clicking the link below:</b>
<%= link("link", to: Routes.challenge_phase_solution_url(Endpoint, :show, @solution.challenge_id, @phase.id, @solution.id)) %>
