Your submission <%= SolutionView.name_link_url(Endpoint, @solution) %> for challenge <%= ChallengeView.public_name_link_url(Endpoint, @challenge) %> was created at <%= SharedView.readable_datetime(@solution.updated_at) %> UTC