<p>You've been invited by <%= AccountView.full_name(@inviter_user) %> to join <%= @team.name %> on City Backlog.</p>

<p><%= link("Accept the invite", to: Routes.team_invitation_path(Endpoint, :accept, @team.id)) %> or <%= link("reject the invite", to: Routes.team_invitation_path(Endpoint, :reject, @team.id)) %></p>
