@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  font-family: 'Public Sans', sans-serif;
  background-color: #dedede;
}


.required {
  color: #ff0000;
}

.navbar-static-top a {
  display: flex;
}

.sign-out {
  justify-content: flex-end;
  align-items: center;
  /* color: #ffffff; */
  padding: 15px 15px;
}

/* post sign-in screen: lib/web/templates/admin/terms/index.html.eex */

.rules-of-behavior {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto 20px;
}

.behavior-header {
  align-self: start;
}

.registration-content {
  display: flex;
  justify-content: center;
}

.registration-row {
  width: 75%;
}

.input {
  width: 60%;
  max-width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-input {
  max-width: 300px;
  margin: 20px 70px;
}

.fc-input {
  border-radius: 5px
}

.label-text {
  align-self: start;
  margin-bottom: 0;
  margin-left: 5px;
  color: #4A5C6B;
}

.btn-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.page-center {
  margin-top: 50px;
}

/* timeout modal */

.main-sidebar {
  z-index: 1021;
}

.navbar {
  z-index: 1
}

.timeout-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% 20% 25% 15%;
  left: -30;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  text-align: center;
  font-size: 17px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .modal-content {
    margin: 10% 25% 0 30%;
    width: 60%;
    max-width: 600px;
  }
}

.modal-btn {
  margin: 3% 0;
  font-size: 17px;
}

.table {
  margin-bottom: 0;

  tbody a {
    text-decoration: underline;
  }

  .btn {
    text-decoration: none;
  }
}

.pagination {
  margin-bottom: 0;
}

th {
  white-space: nowrap;

  i {
    margin-left: .5em;
  }

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.control-sidebar {
  width: 25%;
  height: fit-content;
}

/* adding users */

.u-input {
  margin-bottom: 10px;
}

.u-error {
  color: red;
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
}

.is-invalid .select2-selection {
  border-color: var(--danger);
}

.char-limit-label.is-invalid {
  color: var(--danger);
}

label {
  font-weight: 400 !important;
}

.form__note {
  font-size: smaller;
  font-style: italic;
}

.form__note--red {
  color: red;
}

.challenge_navbar {
  background-color: #0B4778;
}

.challenge_sidebar {
  background-color: #dedede;
}
