.footer input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: none;
}
.footer button {
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #46b3ba;
  text-transform: uppercase;
  color: #fff;
  transition: all .3s ease-out;
  border: .1em solid #46b3ba;
}

.footer button:hover {
  background-color: #40a8af;
  border-color: #40a8af;
}

.footer__p {
  display: flex;
  align-items: center;
  margin: .5em 0em;
}

.footer__email-link{
  color: #212529;
  justify-content: center;
}

.footer__social {
  display: flex;
}

.footer__social_item:not(:first-of-type) {
  margin-left: 2em;
}

.footer__social_link {
  height: 3.5em;
  width: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #46b3ba;
  fill: #fff;
  transition: all .3s ease-out;
}

.footer__social_link:hover {
  background: #40a8af;
}

.footer__social_pic {
  height: 50%;
  width: 50%;
}

.footer .footer__form {
  display: flex;
}

.footer .footer__form_input {
  width: 100%;
  padding: 0 1.5em 0 1.5em;
  border: .1em solid;
  border-right: none;
  color: #46b3ba;
  transition: all .3s ease-out;
}

.footer .footer__form_input::-webkit-input-placeholder {
  color: #46b3ba;
}

.footer .footer__form_input::-moz-placeholder {
  color: #F5F5F5;
  opacity: 1;
}

.footer .footer__form_input:-ms-input-placeholder {
  color: #F5F5F5;
}

.footer .footer__form_input:focus {
  border-color: #46b3ba;
  border-right: none;
}

.footer__contact_link {
  transition: all .3s ease-out;
}

.footer__contact_link:not(:last-of-type) {
  margin-bottom: 2.5em;
}

.footer__contact_link:hover {
  color: #40a8af;
  fill: #40a8af;
}

.footer__p_pic {
  height: 2.5em;
  width: 2.5em;
  margin-right: 1.5em;
}

.footer__bottom {
  padding: 1.5em 0;
}

.footer__bottom_links {
  display: flex;
}

.footer__bottom_link {
  color: #212529;
  transition: all .3s ease-out;
}

.footer__bottom_link:not(:last-of-type) {
  margin-right: 1em;
}

.footer__bottom_link:hover {
  color: #40a8af;
  fill: #40a8af;
}

.footer__bottom_h4 {
  font-size: 1em;
}
