@media screen and (max-width : 1680px) {

  footer {
    font-size: 9px;
  }
}

@media screen and (max-width : 1366px) {

  footer {
    font-size: 8.5px;
  }
}

@media screen and (max-width : 1280px) {

  footer {
    font-size: 8px;
  }
}

@media screen and (max-width : 1024px) {

  footer {
    font-size: 6.3px;
  }
}

@media screen and (max-width : 768px) {

  footer {
    font-size: 4.5px;
  }

  .home {
    height: calc(50vh - 10em);
  }
}

.footer {
  position: relative;
  background-color: #2c2c2c;
}

.footer input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: none;
}
.footer button {
  height: 5.5em;
  padding: .15em 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2em rgba(0,0,0,.15);
  background: #FF6F00;
  font: 500 3em / 1 'Teko', sans-serif;
  text-transform: uppercase;
  color: #fff;
  transition: all .3s ease-out;
}

.container__row {
  margin: 0 auto;
  display: flex;
}

.container__row,
.container__column {
  position: relative;
  z-index: 2;
  width: 144em;
  padding: 0 2em;
  justify-content: space-between;
}

.footer__top_container,
.footer__bottom_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__top_container {
  padding: 7em 2em;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}

.footer__h3 {
  /* margin-bottom: 3.5em; */
  font: 500 3.5em / 1 'Teko', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.footer__data {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: normal;
}

.footer__contact_data {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.footer__p {
  display: flex;
  align-items: center;
  font: 400 1.8em / 1.5 'Muli', sans-serif;
  color: #F5F5F5;
  fill: #F5F5F5;
  margin: .5em 0em;
}

.footer__email {
  margin-top: 1em;
}

.footer__email-link{
  justify-content: center;
}

.footer__item:first-of-type .footer__p {
  padding: 1em;
  text-align: justify;
}

.footer__social {
  display: flex;
}

.footer__social_item:not(:first-of-type) {
  margin-left: 2em;
}

.footer__social_link {
  position: relative;
  height: 3.5em;
  width: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF6F00;
  fill: #fff;
  transition: all .3s ease-out;
}

.footer__social_link:hover {
  background: #fc4e04;
}

.footer__social_pic {
  height: 50%;
  width: 50%;
}

.footer .footer__form {
  margin-bottom: .7em;
  display: flex;
}

.footer .footer__form_input {
  height: 3.5em;
  width: 100%;
  padding: 0 1.5em 0 1.5em;
  border: .1em solid #F5F5F5;
  border-right: none;
  font: 400 1.5em / 1 'Muli', sans-serif;
  color: #FF6F00;
  transition: all .3s ease-out;
}

.footer .footer__form_input::-webkit-input-placeholder {
  color: #F5F5F5;
}

.footer .footer__form_input::-moz-placeholder {
  color: #F5F5F5;
  opacity: 1;
}

.footer .footer__form_input:-ms-input-placeholder {
  color: #F5F5F5;
}

.footer .footer__form_input:focus {
  border-color: #FF6F00;
  border-right: none;
}

.footer .footer__form_button {
  height: 2.6em;
  padding: .2em 3em 0;
  font: 500 2em / 1 'Teko', sans-serif;
}

.footer__contact_link {
  transition: all .3s ease-out;
}

.footer__contact_link:not(:last-of-type) {
  margin-bottom: 2.5em;
}

.footer__contact_link:hover {
  color: #FF6F00;
  fill: #FF6F00;
}

.footer__p_pic {
  height: 2.5em;
  width: 2.5em;
  margin-right: 1.5em;
}

.footer__bottom {
  padding: 3.5em 0;
  background-color: #212121;
}

.footer__bottom_links {
  display: flex;
}

.footer__bottom_link {
  position: relative;
  font: 400 1.8em / 1.5 'Muli', sans-serif;
  color: #F5F5F5;
  transition: all .3s ease-out;
}

.footer__bottom_link:not(:last-of-type) {
  margin-right: 6.1em;
}

.footer__bottom_link:not(:last-of-type):after {
  content: '';
  position: absolute;
  top: 0;
  right: -3.1em;
  height: 100%;
  width: .2em;
  background-color: #F5F5F5;
  opacity: .5;
}

.footer__bottom_link:hover {
  color: #FF6F00;
  fill: #FF6F00;
}

.footer__bottom_h4 {
  font: 700 1.8em / 1.5 'Muli', sans-serif;
  color: #fff;
}

@media screen and (max-width : 640px) {

  html {
    font-size: 7px;
  }

  body {
    background: #fff;
  }

  .home__container {
    padding-left: 4em;
  }

  .home__h3 {
    font: 300 3.9em / 1 'Teko', sans-serif;
    letter-spacing: .75em;
  }

  .home__h2 {
    margin-top: 2em;
    transform: translateX(-.75em);
    font: 300 13em / 1 'Teko', sans-serif;
    letter-spacing: .1em;

  }

  .home__p {
    margin-top: -.5em;
    font: 200 2.2em / 1.4 'Muli', sans-serif;
    letter-spacing: .1em;
  }

  .home__button {
    margin-top: 4.5em;
  }

  .banner__h2 {
    font: 500 4.75em / 1.1 'Teko', sans-serif;
  }

  .overview,
  .vision,
  .plan,
  .areas-overview,
  .participate-funding,
  .participate-volunteer,
  .getintouch-contact {
    padding: 0;
  }

  .overview__container,
  .vision__container,
  .plan__container,
  .areas-overview__container,
  .participate-funding__container,
  .participate-volunteer__container,
  .getintouch-contact__container {
    padding: 0;
  }

  .overview__display,
  .vision__display,
  .plan__display,
  .participate-volunteer__display,
  .getintouch-contact__display {
    display: none;
  }

  .overview__content,
  .vision__content,
  .plan__content,
  .areas-overview__content,
  .participate-funding__content,
  .participate-volunteer__form,
  .getintouch-contact__form {
    width: 100%;
  }

  .vision__container,
  .areas-overview__container,
  .participate-funding__container {
    flex-direction: column;
  }

  .vision__info,
  .areas-overview__info {
    width: 100%;
    padding-left: 0em;
    margin-bottom: 1em;
  }

  .vision__info_item,
  .areas-overview__info_item {
    width: calc(100%);
    margin-top: 0;
  }

  .areas__content {
    flex-wrap: wrap;
  }

  .areas__content_item {
    width: calc(100% / 3);
  }

  .h3__headline_small {
    font: 500 5.5em / 1 'Teko', sans-serif;
  }

  .participate__content_label {
    width: 10em;
  }

  .participate__content_headline {
    font: 500 7em / 1 'Teko', sans-serif;
  }

  .sponsors__content {
    margin-top: 3.5em;
  }

  .sponsors__content_item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .sponsors__content_item:not(:first-of-type) {
    margin-top: 3.5em;
  }

  .sponsors__content_h4 {
    height: 6em;
    width: 100%;
    padding: .65em 5em 0;
    justify-content: center;
  }

  .sponsors__content_data {
    padding: 2em 5em;
  }

  .sponsors__data_image {
    height: 5em;
  }

  .footer__item:first-of-type {
    display: none;
  }

  .footer__bottom_link,
  .footer__bottom_h4 {
    font: 400 1.6em / 1.5 'Muli', sans-serif;
  }

  .areas-headline {
    padding: 11em 0 10em 8em;
  }

  .areas-challenges__content_item,
  .areas-mentors__content_item,
  .getintouch-organizers__content_item {
    width: calc(100% / 2 - .5em);
  }

  .areas-teams__content_info,
  .participate-teams__content_info,
  .participate-partners__content_info {
    background: #F5F5F5;
  }

  .areas-teams__content_item,
  .areas-schedule__content__item,
  .participate-teams__content_item,
  .participate-partners__content_item {
    width: 100%;
  }

  .participate-funding__content {
    background: #F5F5F5;

  }

  .participate-funding__info {
    width: 100%;
    padding-left: 0;
    background: #fff;
  }

  .participate-funding__info_item {
    height: auto;
    margin-top: 1em;
    padding: 5em;
  }

  .form__h2 {
    font: 500 7em / .85 'Teko', sans-serif;
  }

  .form__h3 {
    font: 300 2.5em / 1 'Muli', sans-serif;
  }

  .getintouch-organizers__content_info{
    position: relative;
  }

  .image__cover {
    height: unset;
    width: 100%;
  }
  .getintouch-organizers__content_image{
    padding-bottom: 140pt;
  }

  .twitter-timeline,
  .twitter-item {
    visibility: hidden;
  }

  .cfb-image {
    margin-top: 13%;
  }

}

@media screen and (max-width : 480px) {

  html {
    font-size: 6px;
  }
  .twitter-timeline,
  .twitter-item {
    display: none;
    visibility: hidden;
  }

}

@media screen and (max-width : 420px) {

  html {
    font-size: 4.25px;
  }
}

@media screen and (max-width : 380px) {

  html {
    font-size: 3.75px;
  }

}

@media screen and (max-width : 320px) {

  html {
    font-size: 3.25px;
  }

}
