<thead>
  <tr>
    <th></th>
    <%= sortable_header(@conn, @sort, @filter, "id", "ID", @phase) %>
    <%= sortable_header(@conn, @sort, @filter, "title", "Title", @phase) %>
    <%= sortable_header(@conn, @sort, @filter, "updated_at", "Last Updated", @phase) %>
    <%= sortable_header(@conn, @sort, @filter, "judging_status", render_judging_status_column_header(@challenge, @phase, @filter), @phase) %>
  </tr>
</thead>
