<%= if !Challenges.allowed_to_submit?(@user) do %>
  <div class="content-header">

    <div class="usa-alert usa-alert--success usa-alert--no-icon">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
          <p class="h4 mb-0">Please note a Challenge Manager with a .gov or .mil email will need to submit</p>
          <p>You will only be able to save and edit this challenge, your edits will not be submitted</p>
      </p>
    </div>
    </div>

  </div>
<% end %>
