<thead>
  <tr>
    <%= if length(@challenge.phases) > 1 do %>
      <th>Content</th>
    <% end %>
    <th>Includes</th>
    <th>File type</th>
    <th>Created</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
</thead>
